body {
  font-family: Poppins,sans-serif;
}

@media only screen and (max-width: 1220px) {

  #remainTime { 
     font-size: 3em !important; 
  }

}

@media only screen and (max-width: 720px) {

  #remainTime { 
     font-size: 2em !important; 
  }

}
